* {
    margin: 0;
    padding: 0;
}

/* body styles */
body {
    font-family: work sans;
    text-transform: capitalize;
}

/* hero-section styles */
.hero-section {
    background-image: url('./images/hero-bg.png');
    height: 650px;
    background-repeat: no-repeat;
    background-size: 100% 650px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding-right: 17.5%;
    margin-bottom: 130px;
}

.hero-title,
.hero-text {
    width: 38%;
    text-align: right;
    color: white;
}

.hero-title {
    font-weight: 700;
    font-size: 65px;
}

.hero-text {
    font-size: 16px;
    font-weight: 400;
    margin: 24px 0px 32px 0px;
}

.hero-btn {
    font-size: 20px;
    padding: 20px 25px;
    font-weight: 600;
    color: #005FAC;
    background-color: white;
    border-radius: 5px;
    border: none;
}

/* failures of previous years styles */
.failures-section {
    width: 70%;
    margin-inline: auto;
    display: flex;
    align-items: center;
    gap: 80px;
    margin-bottom: 130px;
}

.failures-section>img {
    width: 550px;
    height: 600px;
}

.failures-text>h1 {
    font-size: 40px;
    width: 70%;
    line-height: 47px;
    font-weight: 700;
    color: #151414;
}

.failures-text>p {
    font-size: 16px;
    font-weight: 400;
    color: #444343;
    margin: 24px 0px 16px 0px;
    line-height: 26px;
}

.failures-list {
    display: flex;
    gap: 8px;
    flex-direction: column;
}

.failures-list>li {
    font-size: 16px;
    color: #444343;
    line-height: 26px;
    list-style: none;
}

.failures-list>li>i {
    color: #16D887;
    margin-right: 10px;
}

/* my plans styles */
.my-plans-section {
    text-align: center;
    margin-bottom: 130px;
}

.my-plans-title {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 50px;
}

.plans-container {
    display: flex;
    justify-content: center;
    gap: 80px;
}

.plan>h2 {
    font-size: 30px;
    color: #151414;
    line-height: 35px;
    margin: 24px 0px 16px 0px;
}

.plan>p {
    color: #737272;
    line-height: 16px;
}

/* banner styles */
.banner {
    background-image: url('./images/watch.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 70%;
    margin: 0 auto;
    border-radius: 8px;
    margin-bottom: 130px;
}

.banner-container {
    height: 100%;
    background: linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0) 100%);
    padding-left: 65px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    border-radius: 8px;
}

.banner-container>h1 {
    font-weight: 700;
    font-size: 40px;
    line-height: 46px;
    color: white;
    width: 50%;
}

.banner-container>button {
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    color: #005FAC;
    background-color: white;
    padding: 20px 30px;
    border-radius: 5px;
    border: none;
}

/* footer-section styles */
.footer-section {
    display: flex;
    background-color: #151414;
    color: white;
    align-items: center;
    padding: 130px 14.375%;
}

.about-us>h1 {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #F8F8F8;
}

.about-us>p {
    width: 50%;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

.social-icon {
    display: flex;
    gap: 17px;
}

.social-icon>i {
    background-color: white;
    border-radius: 100%;
    padding: 20px;
    font-size: 32px;
}
.social-icon > i:nth-child(1){
    padding: 20px 26px;
}
.fa-facebook-f {
    color: #006AFF;
}

.fa-twitter {
    color: #1DA1F2;
}

.fa-youtube {
    color: #FF0000;
}

.about-us>p:nth-child(2) {
    margin: 16px 0px 24px 0px;
}

.about-us>p:nth-child(4) {
    margin: 16px 0px 32px 0px;
}

.subscribe>h1 {
    font-weight: 600;
    font-size: 25px;
    line-height: 29px;
    margin-bottom: 30px;
}

.subscribe>input {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: white;
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    padding: 20px;
    background-color: inherit;
    margin-bottom: 16px;
}

.subscribe>input::placeholder {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #F3F3F3;
}
.subscribe > input:focus{
    outline: none;
}

.subscribe>button {
    background: #005FAC;
    border-radius: 8px;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    padding: 20px 36px;
    border: none;
}